.app-switcher-root {
  background-color: #1a1a1a;
  width: 100px;
  height: 100%;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    &.menu {
      border-bottom: 1px solid #999999;
    }
    img {
      width: 35px;
      height: auto;
    }
  }
}
